.header__lang-link {
    text-decoration: none;
    align-self: center;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 116%;
    color: #FFFFFF;
}

.header__lang-link:hover {
    text-decoration-line: underline;
}

@media only screen and (min-width: 320px) and (max-width:767px) {
    .header__lang-link {
        font-weight: normal;
        font-size: 1.125rem;
        line-height: 1.5rem;
    }
}