@import url(./card/card.css);
@import url(./cards/cards.css);
.places {
    max-width: 77%;
    margin: 0 auto;
}

@media only screen and (min-width: 767px) and (max-width:1023px) {
    .places {
        max-width: 92.5%;
    }
}

@media only screen and (min-width: 320px) and (max-width:767px) {
    .places {
        max-width: 100%;
    }
}