.card__paragrath {
    margin: 0;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 1.875rem;
}

.card__paragrath+.card__paragrath {
    margin-top: 2.4vw;
}

@media only screen and (min-width: 767px) and (max-width:1023px) {
    .card__paragrath {
        font-size: 1rem;
        line-height: 162%;
    }
}

@media only screen and (min-width: 320px) and (max-width:767px) {
    .card__paragrath {
        width: 90%;
        margin: 0 auto;
    }
}