@import url(./__title/cover__title.css);
@import url(./__overlay/cover__overlay.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__background/cover__background.css);
@import url(./__text/cover__text.css);
@import url(./__link/cover__link.css);
.cover {
    position: relative;
    margin: 0 auto;
    width: 92%;
    height: 58vw;
    justify-content: center;
    max-height: 740px;
}

@media only screen and (max-width:1279px) {
    .cover {
        width: 100%;
    }
}

@media only screen and (min-width: 1024px) and (max-width:1279px) {
    .cover {
        min-height: 648px;
    }
}

@media only screen and (min-width: 768px) and (max-width:1023px) {
    .cover {
        min-height: 480px;
        height: 480px;
    }
}