.cover__title {
    font-weight: 900;
    font-size: 4.5rem;
    line-height: 106%;
    margin: 0 auto;
    width: 560px;
    text-align: center;
}

@media only screen and (min-width: 320px) and (max-width:767px) {
    .cover__title {
        font-size: 2rem;
        line-height: 109%;
        width: 250px;
        padding: 5% 0 0;
    }
}

@media only screen and (min-width: 768px) and (max-width:853px) {
    .cover__title {
        padding: 10% 0 0;
    }
}

@media only screen and (min-width: 854px) and (max-width:1023px) {
    .cover__title {
        padding: 15% 0 0;
    }
}