 @import url(./__list-item/footer__list-item.css);
 @import url(./__link-list/footer__link-list.css);
 @import url(./__copyright/footer__copyright.css);
 @import url(./__link/footer__link.css);
 .footer {
     display: flex;
     margin: 92px auto 0;
     justify-content: space-between;
     max-width: 92%;
 }
 
 @media only screen and (max-width:767px) {
     .footer {
         display: block;
     }
 }
  
 @media only screen and (min-width:768px) and (max-width:1023px){
     .footer{
        margin: 88px auto 0;
     }
 }